﻿{% extends "base.html" %}
{% block title %}Добавить задание{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}



<form method="POST">
    {{wtf.quick_form(form_choose)}}
</form>
<form method="POST">
    {{wtf.quick_form(form_add)}}
</form>
    {% endblock %}
