﻿{% extends "base.html" %}
{% block title %}Утверждение{% endblock %}

{% block app_content %}
<head>
    <style type="text/css">
        .decline-accept {
            position: relative;
            margin: auto auto;
            float: left;
        }
    </style>
    <script>
        var hided = false;
        function toggle() {
            var rows = document.getElementsByClassName("bg-success");
            if (hided) {
                for (i = 0; i < rows.length; i++)
                    rows[i].style.display = 'table-row';
                hided = false;
            } else {
                for (i = 0; i < rows.length; i++)
                    rows[i].style.display = 'none';
                hided = true;
            }
        }
    </script>
</head>

<div><button onclick="toggle();" class="btn btn-success">Скрыть/показать утвержденные</button></div>
<br>
<div class="fixed-top"><b>Утверждено: {{completed}}/{{count}}</b></div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ЭОРД</th>
            <th scope="col">Задача</th>
            <th scope="col">Статус</th>
            <th scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for tracking in trackings %}
        {% if tracking.status.Name == "Не утверждён" %}
        <tr>
            {% endif %}
            {% if tracking.status.Name == "Утверждается" %}
        <tr class="bg-info">
            {% endif %}
            {% if tracking.status.Name == "Утверждён" %}
        <tr class="bg-success">
            {% endif %}


            <td>{{ tracking.number }}</td>
            <td>{{ tracking.task.course.Name }}</td>
            <td>{{ tracking.task.Name }}</td>
            {% if (tracking.status.Name == "Не утверждён") %}
            <td>Не утверждён</td>
            <td>
                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{tracking.Id}}"
                        aria-expanded="false" aria-controls="collapseExample">
                    Принять
                </button>
                <div class="collapse" id="{{tracking.Id}}">
                    <div class="card card-body">
                        {% if tracking.Comment %}
                        <b>Комментарий пользователя:</b>
                        <fieldset disabled>
                            <textarea id="disabledTextInput" rows="2" cols="50">{{tracking.Comment}}</textarea>
                        </fieldset>
                        {% endif %}
                        <b>Завершено: </b>{{tracking.Time.strftime("%d.%m.%Y %H:%M")}}
                        <form method="post" action="">
                            <textarea class="form-control" name="comment" id="exampleFormControlTextarea1"
                                      placeholder="Введите свой комментарий..." rows="5" cols="5"></textarea>
                            <button type="submit" name="Accept" class="btn btn-success" value="{{ tracking.Id }}" style="float: left;">Утвердить</button>
                            <button type="submit" name="Decline" class="btn btn-danger" value="{{ tracking.Id }}" style="float: left;">На доработку</button>
                            <button type="submit" name="Review" class="btn btn-primary" value="{{ tracking.Id }}" style="float: left;">На проверку</button>
                        </form>
                    </div>
                </div>
            </td>
            {% endif %}

            {% if (tracking.status.Name == "Утверждается") %}
            <td>Отправлен на доработку/проверку</td>
            <td>{{tracking.Time.strftime("%d.%m.%Y %H:%M")}}</td>
            {% endif %}
            {% if (tracking.status.Name == "Утверждён") %}
            <td>Утверждён</td>
            <td>{{tracking.Time.strftime("%d.%m.%Y %H:%M")}}</td>
            {% endif %}

            {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for page in range(pages_count) %}
        {% if page + 1 == current_page %}
        <li class="page-item active">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="?page={{page+1}}">{{page+1}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

    {% endblock %}
