﻿{% extends 'bootstrap/base.html' %}



{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav navbar-centre">
                {% if current_user.IsAdmin %}
                <li><a href="{{ url_for('admin_add') }}"><b>Добавление задания</b></a></li>
                <li><a href="{{ url_for('admin_approve') }}"><b>Утверждение</b></a></li>
                <li><a href="{{ url_for('blockinfo') }}"><b>Отчеты по блокам</b></a></li>
                <li><a href="{{ url_for('usersinfo') }}"><b>Отчеты по пользователям</b></a></li>

                {% else %}
                <li><a href="{{ url_for('database') }}"><b>Таблица заданий</b></a></li>
                <li><a href="{{ url_for('diagram') }}"><b>Диаграмма Ганта</b></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>
                        Пользователь: <b>{{ current_user.Name }}</b>
                        {% if current_user.IsAdmin %}
                        <b>(Админ)</b>
                        {% endif %}
                    </a>
                </li>
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
