﻿{% extends "base.html" %}
{% block title %}Дисциплины{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{{wtf.quick_form(form)}}

{% if block_name %}
<h3>"{{block_name}}" - Дисциплины</h3>
{% else %}
<h3>Все дисциплины</h3>
{% endif %}

{% if block_name %}
<form method="post" action="">
    <button type="submit" name="all_info" class="btn btn-success" value="0" style="float: left;">Информация по "{{block_name}}"</button>
</form>
<br>
{% endif %}



<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дисциплина</th>
            <th scope="col">Информация</th>
        </tr>
    </thead>
    <tbody>
        {% for courseblock in courseblocks %}
        <tr>
            <td>{{ courseblock.number }}</td>
            <td>{{ courseblock.course.FullName }}</td>
            <td>
                <form method="post" action="">
                    <button type="submit" name="info" class="btn btn-success" value="{{ courseblock.course.Id }}" style="float: left;">Информация</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
