﻿{% extends "base.html" %}
{% block title %}Задания{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}



{% if course_name %}
<h3>Задания дисциплины "{{ course_name }}"</h3>
{% endif %}
{% if block_name %}
<h3>Задания блока "{{ block_name }}"</h3>
{% endif %}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дисциплина</th>
            <th scope="col">Задача</th>
            <th scope="col">Текущий статус</th>
            <th scope="col">Кем</th>
            <th scope="col">Информация</th>
        </tr>
    </thead>
    <tbody>
        {% for tracking in trackings %}
        <tr>
            <td>{{ tracking.number }}</td>
            <td>{{ tracking.task.course.Name }}</td>
            <td>{{ tracking.task.Name }}</td>
            <td>{{ tracking.status.Name }}</td>
            <td>{{ tracking.user.Name }}</td>
            <td>
                <form method="post" action="">
                    <button type="submit" name="info" class="btn btn-success" value="{{ tracking.task.Id }}" style="float: left;">Информация</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
