﻿{% extends "base.html" %}
{% block title %}Задания{% endblock %}
{% block app_content %}
<head>
    <style type="text/css">
        .decline-accept {
            position: relative;
            margin: auto auto;
            float: left;
        }
    </style>
    <script>
        var hided = false;
        function toggle() {
            var rows = document.getElementsByClassName("bg-success");
            if (hided) {
                for (i = 0; i < rows.length; i++)
                    rows[i].style.display = 'table-row';
                hided = false;
            } else {
                for (i = 0; i < rows.length; i++)
                    rows[i].style.display = 'none';
                hided = true;
            }
        }
    </script>
</head>

<div><button onclick="toggle();" class="btn btn-success">Скрыть/показать завершенные</button></div>
<br>
<div class="fixed-top"><b>Выполнено: {{completed}}/{{count}}</b></div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ЭОРД</th>
            <th scope="col">Задача</th>
            <th scope="col">Тип работы</th>
            <th scope="col">Принято</th>
            <th scope="col">Завершено</th>
        </tr>
    </thead>
    <tbody>

        {% for tracking in trackings %}
        {% if (tracking.status.Name == "Не перенесён" and tracking.task.Developer == user.Id) or (tracking.status.Name == "Не проверен" and tracking.task.Reviewer == user.Id) or (tracking.status.Name == "Не доработан" and tracking.task.Developer == user.Id) %}
        <tr>
            <td>{{ tracking.number }}</td>
            <td>{{ tracking.task.course.Name }}</td>
            <td>{{ tracking.task.Name }}</td>
            {% if tracking.status.Name == "Не перенесён" and tracking.task.Developer == user.Id %}
            <td>Перенос</td>
            {% endif %}
            {% if tracking.status.Name == "Не проверен" and tracking.task.Reviewer == user.Id %}
            <td>Проверка</td>
            {% endif %}
            {% if tracking.status.Name == "Не доработан" and tracking.task.Developer == user.Id %}
            <td>Перенос (доработка)</td>
            {% endif %}
            <td>

                {% if accept_task %}
                <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#{{tracking.Id}}"
                        aria-expanded="false" aria-controls="collapseExample">
                    Принять
                </button>
                <div class="collapse" id="{{tracking.Id}}">
                    <div class="card card-body">
                        {% if tracking.Comment %}
                        <b>Комментарий к заданию:</b>
                        <fieldset disabled>
                            <textarea id="disabledTextInput" rows="2" cols="50">{{tracking.Comment}}</textarea>
                        </fieldset>
                        {% endif %}
                        <b>Назначено: </b>{{tracking.Time.strftime("%d.%m.%Y %H:%M")}}
                        <form method="post" action="">
                            <textarea class="form-control" name="comment_accept" id="exampleFormControlTextarea1"
                                      placeholder="Введите свой комментарий..." rows="5" cols="5"></textarea>
                            <button type="submit" name="Accept" class="btn btn-success" style="float: left;"
                                    value="{{ tracking.Id }}">
                                Готово
                            </button>
                        </form>
                    </div>
                </div>
                {% endif %}


            </td>
            <td></td>
            {% endif %}

            {% if (tracking.status.Name == "Переносится" and tracking.task.Developer == user.Id) or (tracking.status.Name == "Проверяется" and tracking.task.Reviewer == user.Id) or (tracking.status.Name == "Дорабатывается" and tracking.task.Developer == user.Id) %}
        <tr class="bg-info">
            <td>{{ tracking.number }}</td>
            <td>{{ tracking.task.course.Name }}</td>
            <td>{{ tracking.task.Name }}</td>

            {% if tracking.status.Name == "Переносится" and tracking.task.Developer == user.Id %}
            <td>Перенос</td>
            {% endif %}
            {% if tracking.status.Name == "Проверяется" and tracking.task.Reviewer == user.Id %}
            <td>Проверка</td>
            {% endif %}
            {% if tracking.status.Name == "Дорабатывается" and tracking.task.Developer == user.Id %}
            <td>Перенос (доработка)</td>
            {% endif %}
            <td>{{ tracking.Time.strftime("%d.%m.%Y %H:%M") }}</td>
            <td>

                <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#{{tracking.Id}}"
                        aria-expanded="false" aria-controls="collapseExample">
                    Завершить
                </button>
                <div class="collapse" id="{{tracking.Id}}">
                    <div class="card card-body">
                        <form method="post" action="">
                            <textarea class="form-control" name="comment_complete" id="exampleFormControlTextarea1" placeholder="Введите комментарий..." rows="5" cols="3"></textarea>
                            <button type="submit" name="Complete" class="btn btn-success" value="{{ tracking.Id }}">Принять</button>
                            {% if tracking.task.Reviewer == user.Id %}
                            <button type="submit" name="Decline" class="btn btn-danger" value="{{ tracking.Id }}">Отклонить</button>
                            {% endif %}
                        </form>
                    </div>
                </div>

            </td>
        </tr>
        {% endif %}

        {% if (tracking.status.Name == "Перенесён" and tracking.task.Developer == user.Id) or (tracking.status.Name == "Проверен" and tracking.task.Reviewer == user.Id) or (tracking.status.Name == "Доработан" and tracking.task.Developer == user.Id) %}
        <tr class="bg-success">
            <td>{{ tracking.number }}</td>
            <td>{{ tracking.task.course.Name }}</td>
            <td>{{ tracking.task.Name }}</td>

            {% if tracking.status.Name == "Перенесён" and tracking.task.Developer == user.Id %}
            <td>Перенос</td>
            {% endif %}
            {% if tracking.status.Name == "Проверен" and tracking.task.Reviewer == user.Id %}
            <td>Проверка</td>
            {% endif %}
            {% if tracking.status.Name == "Доработан" and tracking.task.Developer == user.Id %}
            <td>Перенос (доработка)</td>
            {% endif %}
            <td>{{ tracking.StartTime.strftime("%d.%m.%Y %H:%M") }}</td>
            <td>{{ tracking.Time.strftime("%d.%m.%Y %H:%M") }} </td>
        </tr>
        {% endif %}



        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>
            </a>
        </li>
        {% for page in range(pages_count) %}
        {% if page + 1 == current_page %}
        <li class="page-item active">
            {% else %}
        <li class="page-item">
            {% endif %}
            <a class="page-link" href="?page={{page+1}}">{{page+1}}</a>
        </li>
        {% endfor %}
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

    {% endblock %}
