﻿{% extends "base.html" %}
{% block title %}Диаграмма Ганта{% endblock %}

{% block app_content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<div class="chart" id="bargraph">
    <script>
        var graphs = {{ graph | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{% endblock %}
