﻿{% extends "base.html" %}
{% block title %}Трекинг задания{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h3><b>Дисциплина:</b> {{trackings[0].task.course.FullName}}</h3>
<h4><b>Задание:</b> "{{trackings[0].task.Name}}"</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Статус</th>
            <th scope="col">Кем</th>
            <th scope="col">Когда</th>
            <th scope="col">Комментарий</th>
        </tr>
    </thead>
    <tbody>
        {% for tracking in trackings %}
        <tr>
            <td>{{ tracking.status.Name }}</td>
            <td>{{ tracking.user.Name }}</td>
            <td>{{ tracking.Time.strftime("%d.%m.%Y %H:%M") }}</td>
            {% if tracking.Comment %}
            <td>{{ tracking.Comment }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
