﻿{% extends "base.html" %}
{% block title %}Пользователи{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{{wtf.quick_form(form)}}

{% if user_name %}
<h3>Пользователь {{user_name}}</h3>
{% else %}
<h3>Все пользователи</h3>
{% endif %}

<table class="table table-hover">
    <caption>Текущие задания</caption>
    <thead>
        <tr>
            <th scope="col">Пользователь</th>
            <th scope="col">Текущее задание</th>
            <th scope="col">Дисциплина</th>
            <th scope="col">Тип</th>
            <th scope="col">Статус</th>
            <th scope="col">Длительность</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
        <tr>
            <td>{{ user.Name }}</td>
            {% if user.current_task_name %}
            <td>{{user.current_task_name}}</td>
            <td>{{user.current_task_course}}</td>
            <td>{{user.current_task_type}}</td>
            <td>{{user.current_task_status}}</td>
            <td>{{user.current_task_time}} мин</td>
            {% else %}
            <td>Нет</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>




<table class="table table-hover">
    <caption>Полная информация</caption>
    <thead>
        <tr>
            <th scope="col">Пользователь</th>
            <th scope="col">Количество переносов</th>
            <th scope="col">Количество проверок</th>
            <th scope="col">Количество доработок</th>
            <th scope="col">Трудоемкость переносов</th>
            <th scope="col">Трудоемкость проверок</th>
            <th scope="col">Трудоемкость доработок</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
        <tr>
            <td>{{ user.Name }}</td>
            <td>{{ user.work_count }}</td>
            <td>{{ user.review_count }}</td>
            <td>{{ user.rework_count }}</td>
            <td>{{ user.work_time }} мин</td>
            <td>{{ user.review_time }} мин</td>
            <td>{{ user.rework_time }} мин</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
